<div class="custom-form-container">
  <form>
    <div class="row">
      <div class="col">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search Here:</label>
      </div>
      <div class="col">
        <input id="table-filtering-search" class="form-control" type="text" class="form-control" type="text"
          name="search" [(ngModel)]="searchText" autocomplete="on">
      </div>
      <div class="col cust-button">
        <button type="button" class="btn btn-primary .me-1" (click)="open(mymodal)">CREATE NEW</button>
      </div>
    </div>
  </form>
</div>

<div class="custom-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
        <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
        <th scope="col" sortable="mobile" (sort)="onSort($event)">Mobile</th>
        <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
        <th scope="col" sortable="nic" (sort)="onSort($event)">NIC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList 
      | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText " class="table-row"
        (click)="collapse.toggle(); getStudent(student.id)">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.mobile}}</td>
        <td>{{student.email}}</td>
        <td>{{student.nic}}</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination [pageSize]="pageSize" [collectionSize]="studentList.length" [(page)]="page"
    aria-label="Default pagination"></ngb-pagination>
</div>

<!-- Create New -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">CREATE NEW STUDENT</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div class="col-sm-5 imgUp">
        <div class="imagePreview" style="background: url('../assets/img/{{_profilePic}}')"></div>
        <label class="btn btn-primary btn-primary-cust">
          Upload
          <input type="file" class="uploadFile img" value="Upload Photo" (change)="selectImg($event)"
            style="width: 0px;height: 0px;overflow: hidden;">
        </label>
      </div>
    </div>

    <div>
      <label for="fName" class="col-xs-3 col-sm-auto col-form-label">First Name*:</label>
      <input id="fName" class="form-control" type="text" [(ngModel)]="_firstName" required>
    </div>
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Last Name*:</label>
    <input id="lName" class="form-control" type="text" [(ngModel)]="_lastName">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Mobile*:</label>
    <input id="mobile" class="form-control" type="text" [(ngModel)]="_mobile">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Email*:</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="something@gmail" [(ngModel)]="_email"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">.com</span>
      </div>
    </div>
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">NIC*:</label>
    <input id="nic" class="form-control" type="text" [(ngModel)]="_nic">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">DOB:</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="_dob" ngbDatepicker
        #d="ngbDatepicker">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    </div>
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Address:</label>
    <input id="add" class="form-control" type="text" [(ngModel)]="_add">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit() ; modal.dismiss('Cross click')">SUBMIT</button>
    <button type="button" class="btn btn-primary" (click)="clear('popup')">CLEAR</button>
  </div>
</ng-template>

<!-- Collaps -->
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <div class="modal-body">
        <div class="row">
          <div class="row full-area">
            <div class="col-3 img-area">
              <img src="./../assets/img/{{ProfilePic}}" alt="..." class="img-thumbnail">
            </div>
            <div class="col">
              <div class="row cust-row">
                <div class="col label-cust-input">
                  <label for="table-filtering-search" class="">First Name:</label>
                </div>
                <div class="col">
                  <input id="fName" class="form-control" type="text" [(ngModel)]="FirstName">
                </div>
                <div class="col label-cust-input">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Last Name:</label>
                </div>
                <div class="col cunst-colaps">
                  <input id="lName" class="form-control" type="text" [(ngModel)]="LastName">
                </div>
              </div>

              <div class="row cust-row">
                <div class="col label-cust-input">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Mobile:</label>
                </div>
                <div class="col">
                  <input id="mobile" class="form-control" type="text" [(ngModel)]="Mobile">
                </div>
                <div class="col">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Email:</label>
                </div>
                <div class="col">
                  <input id="email" class="form-control" type="text" [(ngModel)]="Email">
                </div>
              </div>

              <div class="row cust-row">
                <div class="col">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">NIC:</label>
                </div>
                <div class="col">
                  <input id="nic" class="form-control" type="text" [(ngModel)]="Nic">
                </div>
                <div class="col">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">DOB:</label>
                </div>
                <div class="col">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="Dob" ngbDatepicker
                      #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <div class="row cust-row">
                <div class="col-3">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Address:</label>
                </div>
                <div class="col-3">
                  <input id="add" class="form-control" type="text" [(ngModel)]="Add">
                </div>
              </div>

              <div class="modal-footer cust-btn-margin">
                <button type="button" class="btn btn-success cust-button-set" (click)="update()">UPDATE</button>
                <button type="button" class="btn btn-primary cust-button-set" (click)="clear()">CLEAR</button>
                <button type="button" class="btn btn-danger cust-button-set" (click)="delete(this.Id)">DELETE</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>