  .custom-container {
      text-align: center;
      padding: 40px;
  }

  .table-row {
      cursor: pointer;
  }

  .custom-form-container {
      text-align: right;
      padding-top: 50px;
      padding-left: 40px;
      padding-right: 40px;
  }

  .cust-button {
      float: right;
  }

  .cust-button-set {
    margin-top: 25px;
    margin-right: 10px;
    float: left;
  }

  .cust-btn-margin {
    float: left;
  }

  .cunst-colaps {
    float: left;
    width: 40%;
  }


  .cust-row {
    margin-top: 10Px;
    margin-right: 2%;
  }

  .label-cust-input {
    width: 50%;
  }

  // .detail-area {
  //   margin-top: 10Px;
  // }

  // .full-area {
  //   margin: 20Px;
  // }

  .img-area {
    text-align: center;
    margin-left: 2%;
  }