  .custom-container {
    text-align: center;
    padding: 40px;
  }

  .table-row {
    cursor: pointer;
  }

  .custom-form-container {
    text-align: right;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .cust-button {
    float: right;
  }

  .cust-button-set {
    margin-top: 25px;
    margin-right: 10px;
    float: left;
  }

  .cust-btn-margin {
    float: left;
  }

  .cunst-colaps {
    float: left;
    width: 40%;
  }

  .cust-row {
    margin-top: 10Px;
    margin-right: 2%;
  }

  .label-cust-input {
    width: 50%;
  }

  .img-area {
    text-align: center;
    margin-left: 2%;
  }

  .cust-email::after {
    content: "| .com";

  }

  // img
  .imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
  }

  .btn-primary-cust {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
  }

  .imgUp {
    margin-bottom: 15px;
  }

  .del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  .imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
  }